[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sklearn = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-image = "*"

[dev-packages]
jupyter = "*"
ipython = "*"

[requires]
python_version = "3.6"
